<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Tempus</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='a new way to get your work done'>
    <meta property="og:title" content="Tempus">
    <meta property="og:site_name" content="Tempus">
    <meta property="og:url" content="">
    <meta property="og:description" content="a new way to get your work done">
    <meta property="og:image" content="">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/signUpStyleLight.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js">
    </script>
</head>




<body id="home" ng-app="formApp">
<nav align="center">
    <ul class="topnav" id="navbar">
        <li><a href="/app/index.html/#home">Home</a></li>
        <li><a href="/app/index.html/#aboutID">About</a></li>
        <li><a href="/app/signUp.html">Set a meeting</a></li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
    </ul>
</nav>
<br><br>

<div ng-controller="MainController" class="page" align="center">
    <form novalidate>
        <br><br>
        <p>Amount of Meeting Time Needed:</p>
            <input ng-model="timeSpan">
        <div ng-repeat="ecp in ecps track by $index">
            <br><br>
            <p>Member {{$index + 1}} Email:</p>
            <div><input ng-model="ecp.email" placeholder="maggie@bu.edu"></div>
            <p>Calendar Link:<br></p>
            <div><input ng-model="ecp.calendar" placeholder="maggie@group.calendar.google.com"></div>
        </div>
            <br>
            <div ng-show="showMinusButton">
            <button ng-click="subtractEcps(); showMinus()" class="button">-</button>
                <br>
            </div>
            <button ng-click="addEcps(); showMinus()" class="button">+</button>
            <br><br><br>
             <button ng-click="submit()" class="button" href="#results">submit</button></a>
    </form>
    <div>
        <br><br><br>
        <div id="results">
            <h1>{{times}}</h1>
        </div>
    </div>


</div>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>

</body>
</html>

